#portfolio {
    width: calc(100% - 20px);
    max-width: 1300px;
    margin: 0 auto;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        margin-top: 20px;
        width: 100%;
        max-width: 1300px;

        .card {
            width: calc(50% - 20px);
            margin: 20px 0 40px 0;
            font-family: "Messina Sans", sans-serif;
            font-style: normal;
            font-weight: normal;

            img {
                width: 100%;
                max-height: 300px;
                object-fit: cover;
            }

            .card__copy {
                display: flex;
                font-size: $f-sml;
                margin-top: 20px;

                .card__details {
                    width: 50%;
                    display: flex;

                    span {
                        width: 50%;
                    }
                }
                .card__detailsTwo {
                    width: 50%;
                    display: flex;
                    flex-direction: column;

                    span {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
.porfolio__header {
    border-top: 0.5px solid #000000;
    border-bottom: 0.5px solid #000000;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    position: relative;
    font-size: 10px;

    div {
        display: flex;
        align-items: center;
    }

    p {
        margin: 10px 0;
    }

    span {
        margin-right: 20px;
    }
}
