header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    font-size: $f-sml;
    margin: 40px auto;
    padding: 0 20px;

    nav {
        display: flex;

        a {
            margin: 0 20px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
