footer {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    max-width: 1160px;
    font-size: $f-sml;
    border-top: 0.5px solid #000000;
    border-bottom: 0.5px solid #000000;
    margin: 40px auto;
    padding: 20px 0;
    font-size: 10px;

    .footer__nav {
        display: flex;
        align-items: center;

        img {
            width: 14px;
            height: 14px;
            margin-right: 80px;
            margin-top: 5px;
        }
        p {
            padding: 0;
            margin: 0;
            line-height: 147%;
        }
    }

    .footer__socials {
        p {
            margin: 0;
        }
    }
}
