footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    font-size: $f-sml;
    border-top: 0.5px solid #000000;
    border-bottom: 0.5px solid #000000;
    margin-top: 40px;
    padding: 20px 40px;
    font-size: 10px;

    .footer__nav {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        img {
            width: 14px;
            height: auto;
            margin-right: 80px;
            margin-top: 5px;
        }
        p {
            padding: 0;
            margin: 0;
            line-height: 147%;
        }
    }

    .footer__socials {
    }
}
